/**  Import Compass and Theme Variables */
/******************************************************************************
Sprite Mixin
******************************************************************************/
/******************************************************************************
Extendible Sprite Class
******************************************************************************/
/* ========================================================================== Theme Configuration File ========================================================================== */
/** Base Colors Description: Provides a base for the UI. Usage: General UI Background, Region Headers, Buttons */
/** Highlight Colors Description: Used for providing emphasis or importance to UI components. Usage: Region Headers, Primary / Hot Buttons */
/** Accent and Status Colors Description: Used for indicating state-based UI components, status, or accents. Usage: Warnings, Errors, Danger Text, Success, Focus */
/******************************************************************************
Interactive Grid
******************************************************************************/
.a-IG { border-color: #E0E0E0; background-color: #FFF; }

.a-IG-header { border-color: #E0E0E0; background-color: #FAFAFA; }

.a-IG-gridView .a-GV-footer { border-color: #E0E0E0; }
