@import "_variables";

.t-AVPList-item {
  transition: background-color .1s;
}
.t-AVPList-value {
  color: #666;
}
.t-AVPList-label {
  color: #333;
}

body {
  .t-AVPList-label, .t-AVPList-value {
    font-size: 1.3rem;
  }
}


