
@import "_variables";

/*
{
  "var" : "@irrBg",
  "name" : "UTR.LESS.BACKGROUND",
  "type" : "color",
  "group": "UTR.LESS.INTERACTIVE_REPORTS"
}
*/
@irrBg: #FFF;

@menu_Tabs-Active-Base: @g_Accent-BG;

/*
{
  "var" : "@menu_Tabs-Active-BG",
  "name" : "UTR.LESS.BACKGROUND",
  "type" : "color",
  "group": "UTR.LESS.INTERACTIVE_REPORTS",
  "subgroup": "UTR.LESS.MENU"
}
*/
@menu_Tabs-Active-BG:       @menu_Tabs-Active-Base;

/*
{
  "var" : "@menu_Tabs-Active-Text",
  "name" : "UTR.LESS.TEXT",
  "type" : "color",
  "group": "UTR.LESS.INTERACTIVE_REPORTS",
  "subgroup": "UTR.LESS.MENU"
}
*/
@menu_Tabs-Active-Text:     fade(contrast( @menu_Tabs-Active-Base, darken( @menu_Tabs-Active-Base,  50%), lighten( @menu_Tabs-Active-Base,  50%)), 100%);

/*
{
  "var" : "@menu_Tabs-Hover-BG",
  "name" : "UTR.LESS.HOVER_STATE",
  "type" : "color",
  "group": "UTR.LESS.INTERACTIVE_REPORTS"
}
*/
@menu_Tabs-Hover-BG:        darken( @menu_Tabs-Active-Base,5%);



@menu_Tabs-Text:            contrast( @menu_Tabs-Active-Base);


.a-IRR {
  border-radius: @g_Container-BorderRadius;
  border-color: contrast(@irrBg, darken(@irrBg,   10%), lighten(@irrBg,   10%),  43%);
//  background-color: @irrBg;
  .a-IRR-pagination-label {
    color: contrast(@irrBg, darken(@irrBg,   50%), lighten(@irrBg,   50%),  43%);
  }
}

.a-IRR-reportSummary-value {
  color: fade(contrast(@irrBg, desaturate(darken(@irrBg,  75%), 100%), desaturate(lighten(@irrBg,  75%), 50%)), 100%);
}

.a-IRR-controlsLabel:hover {
  color: black !important;
}

.a-IRR-fullView {
  background-color: @irrBg;
}

.a-IRR-button.a-IRR-button--controls {
  background-color: transparent;
//  &:hover {
//    background-color: contrast(@irrBg, darken(@irrBg,   25%), lighten(@irrBg,   25%),  43%);
//  }
}

.a-IRR-sortWidget {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

.a-IRR-toolbar {
  border: none;
  background: linear-gradient(lighten(@g_Region-Header-BG, 10%), @g_Region-Header-BG);
  border-color: contrast(@g_Region-Header-BG, darken(@g_Region-Header-BG,   10%), lighten(@g_Region-Header-BG,   10%),  43%);
}
@l_Progress-BG: contrast(@irrBg, darken(@irrBg,   55%), lighten(@irrBg,   55%),  43%);
.a-Report-percentChart-fill {
  background-color: @l_Progress-BG;
}
.a-Report-percentChart {
  background-color: contrast(@l_Progress-BG, mix(#808080, @irrBg), mix(#D0D0D0, @irrBg));
}

.a-IRR-button--colSearch {
  -webkit-border-top-right-radius: 0px !important;
  -webkit-border-bottom-right-radius: 0px !important;
  -moz-border-radius-topright: 0px  !important;
  -moz-border-radius-bottomright: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.a-IRR-table {
  .a-IRR-header {
    background-color: #F2F4F7;
//    border-left: 0px;
//    border-right: 1px solid contrast(@irrBg, darken(@irrBg,   10%), lighten(@irrBg,   10%),  43%);
//    border-top: 1px solid contrast(@irrBg, darken(@irrBg,   10%), lighten(@irrBg,   10%),  43%);
    border: 0px;
    border-top: 1px solid contrast(#F2F4F7, darken(#F2F4F7,   10%), lighten(#F2F4F7,   10%),  43%);
    border-bottom: 1px solid contrast(#F2F4F7, darken(#F2F4F7,   10%), lighten(#F2F4F7,   10%),  43%);
    box-shadow: inset 1px 0 0 0 contrast(#F2F4F7, darken(#F2F4F7,   10%), lighten(#F2F4F7,   10%),  43%);
    a {
//      color: @g_Link
//      background-color: fade(contrast(@irrBg, desaturate(darken(@irrBg,  75%), 100%), desaturate(lighten(@irrBg,  75%), 50%)), 100%);
    }
    &:hover {
      background-color: #D6D7D8;
//      background-color: @_light_hover_bg;
//      .region-hover()
    }
    &.is-active {
      background-color: #DAE9F5;
      border-bottom: none;
      a {
        color: @menu_Tabs-Active-Text;
      }
    }
  }
}


.a-IRR-table tr td {
  background-color: @irrBg;
  color: fade(contrast(@irrBg, desaturate(darken(@irrBg,  75%), 100%), desaturate(lighten(@irrBg,  75%), 50%)), 100%);
}

.a-IRR-table {
  border-collapse: separate;
}

//.a-IRR-table tr:first-child {
//  border-top: 1px solid contrast(@irrBg, darken(@irrBg,   10%), lighten(@irrBg,   10%),  43%);
//}


.a-IRR-table tr:nth-child(even) td {
//  background-color: contrast(@irrBg, darken(@irrBg,   1.25%), lighten(@irrBg,   1.25%),  43%);
}

.a-IRR-table tr:nth-child(even):hover td {
//  .text-contrast(@_light_hover_bg);
}

.a-IRR-table tr:hover td,.a-IRR-table tr:nth-child(even):hover td {
//  background-color: contrast(@irrBg, darken(@irrBg,   5%), lighten(@irrBg,   5%),  43%);
//  .region-hover();
//  .text-contrast(@_light_hover_bg);
}

.t-IRR-region--noBorders {
  .a-IRR {
    border-radius: @g_Container-BorderRadius;
  }
}



body .a-IRR-sortWidget-rows {
  color: @menu_Tabs-Text;
  border-top: 1px solid darken(@menu_Tabs-Active-BG, 10%);
  background: @menu_Tabs-Active-BG;
//  background:
//    linear-gradient(@menu_Tabs-Active-BG 30%, rgba(255, 255, 255, 0)),
//    linear-gradient(rgba(255, 255, 255, 0), @menu_Tabs-Active-BG 70%) 0 100%,
//    linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)),
//    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05)) 0 100%;
}

body .a-IRR-sortWidget-row {
  color: @menu_Tabs-Text;
  box-shadow: 0 -1px 0 @menu_Tabs-Hover-BG inset;
}

.a-IRR-sortWidget-search > .a-IRR-sortWidget-searchField,
.a-IRR-sortWidget-search > .a-IRR-sortWidget-searchField[type="text"] {
  color: @menu_Tabs-Text;
  background: @menu_Tabs-Hover-BG;
//  background:
//  linear-gradient(@menu_Tabs-Active-BG 30%, rgba(255, 255, 255, 0)),
//  linear-gradient(rgba(255, 255, 255, 0), @menu_Tabs-Active-BG 70%) 0 100%,
//  linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)),
//  linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05)) 0 100%;
}

.a-IRR-sortWidget-row:hover {
  background-color: @menu_Tabs-Hover-BG;
}
body {
  .a-IRR-button.a-IRR-sortWidget-button, .a-IRR-button.a-IRR-sortWidget-button:active:focus {
    color: fade(@menu_Tabs-Text, 90%);
    background-color: @menu_Tabs-Hover-BG;
    &:hover {
      background-color: lighten(@menu_Tabs-Hover-BG, 10%);
    }
  }
}


.a-IRR-sortWidget-actions {
  border-bottom: 1px solid darken(@menu_Tabs-Active-BG, 10%);
}

.a-IRR-sortWidget-actions-item {
  border-right: none;
}

.a-IRR-sortWidget {
  border: none;
}

.a-IRR-table td {
  border-left: 1px solid darken(@irrBg, 5%);
  border-top: 1px solid darken(@irrBg, 5%);
}


.a-IRR-sortWidget-searchLabel {
  color: fade(@menu_Tabs-Text, 90%);
}

.a-IRR-sortWidget-search > .a-IRR-sortWidget-searchField[type="text"] {

}

.a-IRR-headerLink:focus {
  box-shadow: 0 0 0 1px @g_Link-Base inset;
}

.a-IRR-search-field {
  height: 32px;
}
.a-IRR-search-field:focus {
  border-color: @g_Link-Base;
  box-shadow: -1px 0 0 @g_Link-Base inset, 1px 0 0 @g_Link-Base inset;
}


.a-IRR-singleRow-name, .a-IRR-singleRow-value {
  border-color: contrast(@irrBg, darken(@irrBg,   10%), lighten(@irrBg,   10%),  43%);
  color: contrast(@irrBg, darken(@irrBg,   75%), lighten(@irrBg,   75%),  43%);

}

.a-IRR-singleRow-value {
  background-color: @irrBg;
  .a-IRR-singleRow-row:hover & {
    background-color: contrast(@irrBg, darken(@irrBg,   5%), lighten(@irrBg,   5%),  43%);
  }
}

.a-IRR-singleRow-name {
  background-color: contrast(@irrBg, darken(@irrBg,   5%), lighten(@irrBg,   5%),  43%);
  .a-IRR-singleRow-row:hover & {
    background-color: contrast(@irrBg, darken(@irrBg,   10%), lighten(@irrBg,   10%),  43%);
  }
}
.a-Button.a-IRR-button {
  padding: 7px 12px;
  &.a-IRR-button--remove {
    padding: 3px;
  }
}
.a-IRR-button.a-IRR-button--pagination:hover {
  background-color: @g_Link-Base;
}

.a-Button.a-IRR-button--actions.is-active, .a-Button.a-IRR-button--actions.is-active:active {
  font-weight: bold;
}

.a-IRR-controlsContainer,
.a-IRR-iconViewTable, .a-IRR-chartView, .a-IRR-pivotView, .a-IRR-groupByView, .a-IRR-detailView {
  border-top-color: #E6E6E6;
}