@import "../vita/_variables";

@g_Nav_Style: dark;
@g_Accent-BG: #323336;
@g_Accent-OG: #f8f8f8;
@g_Focus: #056bbf;
@g_Header-BG: #e6e6e6;
@g_Header-FG: #404040;
@g_Link-Base: #056bbf;
@g_Nav-Active-BG: #1c1c1f;
@g_Nav-Active-FG: #ffffff;
@g_Nav-BG: #323336;
@g_Nav-FG: #dddddd;
@g_Nav-Icon: #aaaaaa;
@l_Button-Hot-BG: #056bbf;
@l_Button-Primary-BG: #a4d4fb;
@l_Button-Primary-Text: #01122;

.t-Header {
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
}

.t-Header .t-Button--header.is-active {
  color: @g_Nav-Active-FG;
}