@import "_variables";
.t-HeroRegion-icon {
  border-radius: 4px;
  background-color: @g_Accent-BG;
  color: @g_Accent-FG;
}
.t-HeroRegion-title {
  color: @g_Body-Text;
}
.t-HeroRegion-col--content {
  color: fade(contrast(@g_Body-BG, desaturate(darken(@g_Body-BG,  55%), 100%), desaturate(lighten(@g_Body-BG,  55%), 50%)), 100%);
}