/**
 * Import Compass
 */

@import "_variables";

/* ==========================================================================
   Button Region
   ========================================================================== */
.t-ButtonRegion {
  background-color: @g_Region-BG;
  color: @g_Region-FG;
  border-radius: @g_Container-BorderRadius;
}
.t-ButtonRegion--noUI {
  background-color: transparent;
}
.t-ButtonRegion--wizard,.t-ButtonRegion--dialogRegion {
  border-radius: 0 0 2px 2px;
}
.t-ButtonRegion--dialogRegion {
  background-color: transparent;
}
.t-ButtonRegion--showTitle {
  .t-ButtonRegion-title {
    .text-dark();
  }
}
.t-Body-actions .t-ButtonRegion {
  background-color: transparent;
  border-radius: 0;
}