@import "_variables";

/* ==========================================================================
   Validation Pugin
   ========================================================================== */

.t-Validation-date {
  color: @g_Region-FG;
}
.t-Validation-user {
  color: contrast(@g_Region-FG, darken(@g_Region-FG,   10%), lighten(@g_Region-FG,   10%),  43%);
}

.t-Body-actions {
  .t-Validation-date {
    color: @g_Actions-Col-Text;
  }
  .t-Validation-user {
    color: contrast(@g_Actions-Col-Text, darken(@g_Actions-Col-Text,   10%), lighten(@g_Actions-Col-Text,   10%),  43%);
  }
}