/* ========================================================================== Animations ========================================================================== */
@-webkit-keyframes anim-dialogOpen { 0% { opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1); }
  .01% { opacity: 0;
    -webkit-transform: scale(0.75);
            transform: scale(0.75); }
  100% { opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }
@keyframes anim-dialogOpen { 0% { opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1); }
  .01% { opacity: 0;
    -webkit-transform: scale(0.75);
            transform: scale(0.75); }
  100% { opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes anim-spin { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); transform: rotate(359deg); } }

@keyframes anim-spin { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); transform: rotate(359deg); } }

@-webkit-keyframes anim-fadeIn { 0% { opacity: 0; }
  100% { opacity: 1; } }

@keyframes anim-fadeIn { 0% { opacity: 0; }
  100% { opacity: 1; } }

@-webkit-keyframes anim-spin-stop { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  25% { -webkit-transform: rotate(179deg); transform: rotate(179deg);
    opacity: 1; }
  50% { -webkit-transform: rotate(359deg); transform: rotate(359deg); }
  75% { -webkit-transform: rotate(540deg); transform: rotate(540deg);
    opacity: 1; }
  100% { -webkit-transform: rotate(719deg); transform: rotate(719deg);
    opacity: 0; } }

@keyframes anim-spin-stop { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  25% { -webkit-transform: rotate(179deg); transform: rotate(179deg);
    opacity: 1; }
  50% { -webkit-transform: rotate(359deg); transform: rotate(359deg); }
  75% { -webkit-transform: rotate(540deg); transform: rotate(540deg);
    opacity: 1; }
  100% { -webkit-transform: rotate(719deg); transform: rotate(719deg);
    opacity: 0; } }
