/** Import Compass */
/******************************************************************************
Sprite Mixin
******************************************************************************/
/******************************************************************************
Extendible Sprite Class
******************************************************************************/
/******************************************************************************

File Name:    Combobox.scss
Purpose:      Base styles for Combobox widget (used in the Filter dialog for IG)

******************************************************************************/
/* Container ========================================================================== */
.a-Combobox-wrapper { display: flex; }

.a-Combobox-wrapper .a-Button { padding: 4px 8px; border-radius: 0 2px 2px 0; margin-left: -1px; }
