/** Import Compass */
/******************************************************************************
Sprite Mixin
******************************************************************************/
/******************************************************************************
Extendible Sprite Class
******************************************************************************/
/******************************************************************************

File Name:    GridView.scss
Purpose:      Base styles for Grid View (used in Interactive Grid component)

******************************************************************************/
/* Container ========================================================================== */
.a-GV { overflow: hidden; font-size: 12px; line-height: 16px; }

.a-GV * { box-sizing: border-box; }

.a-GV-hdr { position: relative; }

.a-GV-bdy:focus { outline: none; }

.a-GV-table { -moz-user-select: none; -ms-user-select: none; -webkit-user-select: none; }

.a-GV a { outline: none; }

/* Messages (No Data / More Data / Etc) ========================================================================== */
.a-GV-altMessage { margin: 0; padding: 16px; text-align: center; }

.a-GV-altMessage .a-GV-altMessage-icon .a-Icon { margin-bottom: 8px; }

.a-GV-altMessage-icon .a-Icon { height: 32px; width: 32px; color: #D0D0D0; margin-bottom: 16px; }

.a-GV-altMessage-icon .a-Icon:before { font-size: 32px; }

.a-GV-altMessage-text { display: block; font-size: 12px; }

/* Frozen Mechanics ========================================================================== */
.a-GV-w-frozen, .a-GV-w-scroll, .a-GV-w-hdr { display: inline-block; position: relative; vertical-align: top; }

.a-GV-w-scroll { overflow: auto; -webkit-backface-visibility: hidden; }

.a-GV-w-frozen, .a-GV-w-hdr { overflow: hidden; }

.a-GV-w-frozen { z-index: 1; margin-right: -1px; }

/* Adds the 2px solid bottom border for frozen headers */
.a-GV-hdr .a-GV-w-hdr .a-GV-table, .a-GV-hdr .a-GV-w-frozen .a-GV-table { border-bottom: 1px solid; }

.a-GV-hdr:after { content: ''; position: absolute; height: 8px; bottom: -7px; background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), transparent); width: 100%; left: 0; z-index: 10; pointer-events: none; }

.a-GV-w-frozen .a-GV-table { width: auto; border-right: 3px solid; }

.u-RTL .a-GV-w-frozen .a-GV-table { border-right-width: 0; border-left: 3px solid; }

/* Hide and Show handling for Load More and Control Break Labels ========================================================================== */
.a-GV-w-frozen .a-GV-controlBreakLabel { display: none; }

.a-GV-w-frozen .a-GV-loadMoreButton { visibility: hidden; }

.a-GV-w-frozen.a-GV-w-frozen--showLabels .a-GV-controlBreakLabel { display: inline-block; }

.a-GV-w-frozen.a-GV-w-frozen--showLabels .a-GV-loadMoreButton { display: inline-block; visibility: visible; }

/* Table Container ========================================================================== */
.a-GV-table { border-collapse: collapse; border-spacing: 0; table-layout: fixed; overflow: hidden; width: 100%; }

.a-GV-table th { font-weight: normal; }

.a-GV-table th.a-GV-header, .a-GV-table th.a-GV-headerGroup { font-weight: bold; }

.a-GV-table th, .a-GV-table td { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.a-GV-header, .a-GV-headerGroup { height: 40px; padding: 8px; }

.a-GV-cell { height: 32px; padding: 4px 8px; }

.a-GV-header, .a-GV-headerGroup, .a-GV-cell, .a-GV-controlBreakHeader { border: 1px solid; }

.a-GV-table .a-GV-cell.is-focused, .a-GV-table th.is-focused { outline: none; }

/* Active Header Cell ========================================================================== */
/* Triangle for Changed, Updated, or Required ========================================================================== */
.a-GV-cell.is-changed:not(.is-active):before, .a-GV-row.is-updated .a-GV-selHeader:before, .a-GV--editMode .a-GV-header.is-required:before { content: ''; border: 3px solid; border-color: currentColor currentColor transparent transparent; display: block; position: absolute; top: 0; right: 0; }

/* Read Only Rows ========================================================================== */
.a-GV--editMode .a-GV-row.is-readonly .a-GV-cell, .a-GV--editMode .a-GV-cell.is-readonly { cursor: default; }

/* Updated and Changed States ========================================================================== */
/* Cell States (is-changed) */
.a-GV-cell.is-changed:not(.is-active), .a-GV-row.is-updated .a-GV-selHeader { position: relative; }

/* Required Column ========================================================================== */
/* Row Inserted ========================================================================== */
/* Row Deleted ========================================================================== */
.a-GV-row.is-deleted .a-GV-cell { text-decoration: line-through; opacity: .5; background-color: rgba(0, 0, 0, 0.025); }

/* Row Warning and Error ========================================================================== */
/* Row Header States */
.a-GV-cell.is-error:not(.is-active):before, .a-GV-cell.is-warning:not(.is-active):before { font-family: "apex-5-icon-font" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; float: right; display: block; height: 16px; width: 16px; font-size: 16px; overflow: hidden; }

.u-RTL .a-GV-cell.is-error:not(.is-active):before, .u-RTL .a-GV-cell.is-warning:not(.is-active):before { float: left; }

/* Cell Warning State */
.a-GV-cell.is-warning:not(.is-active), .a-GV-cell.is-error:not(.is-active) { box-shadow: 0 0 0 1px currentColor inset; }

.a-GV-cell.is-warning:not(.is-active):before { content: '\e017'; }

.a-GV-cell.is-error:not(.is-active):before { content: '\e010'; }

/* Column Header ========================================================================== */
.a-GV-header { cursor: pointer; }

.a-GV-header, .a-GV-headerGroup { position: relative; }

.a-GV-headerLabel { white-space: nowrap; }

.a-GV-headerGroup { font-weight: bold; }

.a-GV-header-sort { margin-left: 4px; opacity: .75; font-size: 8px; vertical-align: top; }

.a-GV-header:hover .a-GV-header-sort { opacity: .25; }

.a-GV-columnControls { position: absolute; top: 0; right: 0; text-align: right; margin: 4px 2px; }

.u-RTL .a-GV-columnControls { right: auto; left: 0; }

.a-GV-header .a-GV-columnControls .a-Button { display: block; padding: 0; border-radius: 0; border-width: 0; background-clip: padding-box; border-radius: 2px; }

.a-GV-header .a-GV-columnControls .a-Button:hover, .a-GV-header .a-GV-columnControls .a-Button.is-active { z-index: 10; }

.a-GV-header .a-GV-columnControls .a-Button .a-Icon { -webkit-transform: scale(0.75); transform: scale(0.75); }

/* Row Headers ========================================================================== */
.a-GV .a-GV-rowHeader .t-fht-cell { width: 16px; }

.a-GV-rowHeader, .a-GV-rowHeader.a-GV-header { vertical-align: middle; }

.a-GV-rownum { text-align: right; display: inline-block; width: 50%; }

.u-RTL .a-GV-rownum { text-align: left; }

/* Control Breaks ========================================================================== */
.a-GV-controlBreakHeader { text-align: left; }

.u-RTL .a-GV-controlBreakHeader { text-align: right; }

.a-GV-controlBreakHeader .a-Button { padding: 0px 8px; margin-right: 8px; background-color: transparent; box-shadow: none; }

.a-GV-table th.a-GV-controlBreakHeader { height: 32px; padding: 4px 8px; font-weight: normal; }

/* Aggregates ========================================================================== */
.is-aggregate .a-GV-rowHeader { text-align: right; }

.u-RTL .is-aggregate .a-GV-rowHeader { text-align: left; }

/* Modifiers ========================================================================== */
.a-GV--hideDeleted .a-GV-table tr.is-deleted { display: none; }

/* Row States ========================================================================== */
.a-GV-table tr.is-deleted .a-GV-cell { text-decoration: line-through; opacity: .5; }

/* Footer ========================================================================== */
.a-GV-footer { padding: 8px 12px; border-top: 1px solid; width: 100%; display: table; height: 32px; }

.a-GV-pagination, .a-GV-status, .a-GV-stateIcons { display: table-cell; }

/* Pagination ========================================================================== */
.a-GV-pagination { text-align: right; line-height: 16px; font-size: 12px; }

.u-RTL .a-GV-pagination { text-align: left; float: left; }

.a-GV-pageSelector-list { list-style: none; margin: 0; padding: 0; display: inline-block; }

.a-GV-pageSelector-item { display: inline-block; }

.a-GV-pageButton { display: inline-block; border-width: 0; background-color: transparent; border-radius: 2px; padding: 4px; min-width: 24px; text-align: center; line-height: inherit; }

.a-GV-pageRange { display: inline-block; margin-left: 8px; }

.u-RTL .a-GV-pageRange { margin-right: 8px; }

/* Status Bar ========================================================================== */
.a-GV-status { text-align: left; }

.u-RTL .a-GV-status { text-align: right; }

/* Column Move Handle and Reordering ========================================================================== */
.a-GV-columnHandle, .a-GV-cellMoveHandle { background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0IiBoZWlnaHQ9IjQiIHZpZXdCb3g9IjAgMCA0IDQiPjxwYXRoIGZpbGw9IiMyMzFGMjAiIGQ9Ik0wIDBoMnYyaC0yeiIvPjwvc3ZnPg==); opacity: .05; background-size: 2px; background-repeat: repeat; transition: .2s ease; }

.a-GV-columnHandle:hover, .a-GV-cellMoveHandle:hover { opacity: .5; }

.a-GV-columnHandle { position: absolute; left: 0; width: 4px; margin: 2px; top: 0; bottom: 0; cursor: move; opacity: .4; }

.a-GV-columnHandle .a-Icon { display: none; }

.u-RTL .a-GV-columnHandle { left: auto; right: 0; }

.a-GV-columnWidthHandle { position: absolute; width: 10px; cursor: col-resize; z-index: 2; }

.a-GV-header-dragHelper { height: 40px; padding: 8px; font-size: 12px; line-height: 24px; text-overflow: ellipsis; white-space: nowrap; text-align: center; transition: -webkit-transform .2s; transition: transform .2s; transition: transform .2s, -webkit-transform .2s; border: 1px solid; font-family: inherit; }

.a-GV-header-dragHelper.ui-draggable-dragging { -webkit-transform: translateY(40px); transform: translateY(40px); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); border-radius: 2px; -webkit-backdrop-filter: blur(4px); }

.a-GV-header-dragHelper.ui-draggable-dragging .a-GV-columnHandle { opacity: 0; }

.a-GV-colMoveMarker { height: 40px; width: 4px; position: absolute; top: 0; }

/* Row Selector (checkbox) ========================================================================== */
.a-GV-rowSelector { display: inline-block; vertical-align: top; position: relative; width: 16px; height: 16px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset; border: 1px solid rgba(0, 0, 0, 0.1); background-color: #FFF; padding: 1px; border-radius: 2px; font-family: "apex-5-icon-font" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.a-GV-rowSelector .a-GV-rowSelect { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.a-GV-rowSelector:before { font-size: 12px; width: 12px; height: 12px; content: "\e007"; display: block; position: absolute; opacity: 0; transition: opacity .1s; }

.ie7 .a-GV-rowSelector:before { background-image: url(""); }

.a-GV-rowSelector:hover, .is-hover .a-GV-rowSelector { border: 1px solid rgba(0, 0, 0, 0.2); }

.a-GV-rowSelector:hover:before, .is-hover .a-GV-rowSelector:before { opacity: .15; }

.a-GV-rowSelector:active:before { opacity: .75; }

.is-selected .a-GV-rowSelector:before { opacity: 1; }

.a-GV-rowSelector.a-GV-rowSelector--single { border-radius: 100%; }

.a-GV-rowSelector.a-GV-rowSelector--single:before { content: ''; width: 6px; height: 6px; margin: 3px; background-color: #707070; border-radius: 100%; }

.a-GV-rownum { width: 100%; font-size: 11px; text-align: right; display: inline-block; }

.u-RTL .a-GV-rownum { text-align: left; }

.a-GV-table--checkbox .a-GV-rownum { margin-left: -18px; }

.u-RTL .a-GV-table--checkbox .a-GV-rownum { margin-right: -18px; margin-left: 0; }

/* Actions Button / Column ========================================================================== */
.a-GV-cell.has-button { padding: 0 2px; }

.a-GV-header.has-button { padding: 0 6px; }

.a-GV-cell .a-Button, .a-GV-header .a-Button { padding: 2px 4px; }

.a-Button.a-Button--actions { display: block; margin: 0; width: 100%; background-color: transparent; box-shadow: none; border-radius: 0; }

.a-Button.a-Button--actions:before, .a-Button.a-Button--actions:after { display: none; }

.a-Button.a-Button--actions:hover, .a-Button.a-Button--actions:focus, .a-Button.a-Button--actions.is-active { background-color: rgba(0, 0, 0, 0.1); }

.a-GV-cell .a-Button.a-Button--actions { padding: 6px 8px; }

.a-GV-header .a-Button.a-Button--actions { padding: 10px 8px; }

.a-Icon.icon-menu:before { content: "\e066"; }

/* Editing ========================================================================== */
.a-GV-table .a-GV-cell.is-active { padding: 0; background-color: #E8E8E8; }

/* When column items are inactive, set a large width so components do not wrap */
.a-GV-columnItemContainer { width: 1024px; }

.a-GV-cell .a-GV-columnItem { display: flex; height: 100%; /* Fix for date picker item in Firefox where size attribute makes the input wider than the cell */ /* Fix for popup-lov item in Firefox where size attribute makes the input wider than the cell */ }

.a-GV-cell .a-GV-columnItem input:not([type="radio"]):not([type="checkbox"]), .a-GV-cell .a-GV-columnItem select[size='1'] { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; -webkit-appearance: none; height: 30px; line-height: 16px; font-size: 12px; display: block; width: 100%; }

.a-GV-cell .a-GV-columnItem select[size='1'] { max-height: 30px; }

.a-GV-cell .a-GV-columnItem input:not([type="radio"]):not([type="checkbox"]) { border-width: 0; padding: 0 8px; background-color: transparent; }

.a-GV-cell .a-GV-columnItem input.apex-item-datepicker[size] { width: 0 !important; flex-grow: 1; }

.a-GV-cell .a-GV-columnItem input.apex-item-popup-lov[size] { width: 0 !important; }

.a-GV-cell .a-GV-columnItem select[size='1'] { overflow: hidden; padding-right: 24px; padding-left: 8px; text-indent: .01px; text-overflow: ' '; border-radius: 0; background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MDAiIGhlaWdodD0iMjAwIiB2aWV3Qm94PSItOTkuNSAwLjUgNDAwIDIwMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAtOTkuNSAwLjUgNDAwIDIwMCI+PHBhdGggZmlsbD0iIzQ0NCIgZD0iTTE1Ni4yNSA3My43YzAgMS42LS42MTIgMy4yLTEuODI1IDQuNDI1bC01NC40MjUgNTQuNDI1LTU0LjQyNS01NC40MjVjLTIuNDM4LTIuNDM4LTIuNDM4LTYuNCAwLTguODM3czYuNC0yLjQzOCA4LjgzNyAwbDQ1LjU4OCA0NS41NzQgNDUuNTc1LTQ1LjU3NWMyLjQzOC0yLjQzOCA2LjM5OS0yLjQzOCA4LjgzNyAwIDEuMjI2IDEuMjI2IDEuODM4IDIuODI1IDEuODM4IDQuNDEzeiIvPjwvc3ZnPg==); background-repeat: no-repeat; background-position: 100% 50%; background-size: 32px 16px; -webkit-appearance: none; -moz-appearance: none; border: 0 transparent; }

.a-GV-cell .a-GV-columnItem select[size='1']:-moz-focusring, .a-GV-cell .a-GV-columnItem select[size='1']::-moz-focus-inner { outline: none; }

.a-GV-cell .a-GV-columnItem select[size='1']::-ms-expand { display: none; }

.u-tE .a-GV-cell .a-GV-columnItem input { text-align: right; }

.u-RTL .u-tE .a-GV-cell .a-GV-columnItem input { text-align: left; }

.u-tS .a-GV-cell .a-GV-columnItem input { text-align: left; }

.u-RTL .u-tS .a-GV-cell .a-GV-columnItem input { text-align: right; }

.u-tC .a-GV-cell .a-GV-columnItem input { text-align: center; }

.a-GV-cell .a-GV-columnItem .apex-item-group { width: 100%; }

.a-GV-columnItem { /* Yes No Item */ /* Auto complete */ /* Popup LOV */ }

.a-GV-columnItem fieldset.shuttle { max-width: 440px; }

.a-GV-columnItem fieldset.shuttle select.shuttle_left, .a-GV-columnItem fieldset.shuttle select.shuttle_right { min-width: 80px; }

.a-GV-columnItem fieldset.color_picker td { padding: 0; height: auto; border-width: 0; vertical-align: top; }

.a-GV-columnItem .apex-button-group.apex-item-group--switch { display: flex; }

.a-GV-columnItem .apex-button-group.apex-item-group--switch .apex-item-option { flex-grow: 1; flex-basis: 50%; }

.a-GV-columnItem .apex-button-group.apex-item-group--switch label { border-radius: 0 !important; box-shadow: none !important; padding: 0; display: flex; height: 100%; justify-content: center; align-items: center; transition: none; }

.a-GV-columnItem .apex-item-group--auto-complete { width: 100%; }

.a-GV-columnItem fieldset.apex-item-popup-lov { padding: 0; margin: 0; display: flex; }

.a-GV-columnItem fieldset.apex-item-popup-lov td, .a-GV-columnItem fieldset.apex-item-popup-lov th { padding: 0; margin: 0; }

.a-GV-columnItem fieldset.apex-item-popup-lov input[type="text"].apex-item-text.apex-item-popup-lov { background-color: #FFF; height: 28px; margin: 1px; }

.a-GV-columnItem fieldset.apex-item-popup-lov .a-Button--popupLOV { padding-top: 7px; padding-bottom: 7px; margin: 0px; }

/* Floating Item  ========================================================================== */
.a-GV-floatingItem { /* Collapsed Form */ }

.a-GV-floatingItem fieldset.textarea { vertical-align: top; border: none; padding: 0; margin: 0; }

.a-GV-floatingItem textarea { border-width: 0; display: block; width: 100%; font-size: 12px; background-color: transparent; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

.a-GV-floatingItem textarea:focus { outline: none; }

.a-GV-floatingItem .a-GV-expandCollapse { border: none; cursor: pointer; }

.a-GV-floatingItem:not(.is-expanded) { overflow: hidden; position: relative; }

.a-GV-floatingItem:not(.is-expanded), .a-GV-floatingItem:not(.is-expanded) .a-GV-columnItem { display: flex; }

.a-GV-floatingItem:not(.is-expanded) .a-GV-cellMoveHandle { display: none; }

.a-GV-floatingItem:not(.is-expanded) .a-GV-expandCollapse { height: 28px; margin: 1px; }

.a-GV-floatingItem:not(.is-expanded) .a-GV-floatingItemContent { /* hide floating item content when it is collapsed */ display: none; }

.a-GV-floatingItem.is-expanded { border: 1px solid; position: absolute; top: 0; left: 0; z-index: 900; padding: 10px 2px 2px 2px; display: block; min-width: 80px; background-color: rgba(255, 255, 255, 0.9); -webkit-backface-filter: blur(4px); border-radius: 2px; box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 0.25); }

.a-GV-floatingItem.is-expanded:focus { outline: none; }

.a-GV-floatingItem.is-expanded .a-GV-cellMoveHandle { top: 0; left: 0; right: 0; height: 6px; margin: 2px; cursor: move; display: block; position: absolute; }

.a-GV-floatingItem.is-expanded .a-GV-expandCollapse { border-radius: 24px; position: absolute; right: -12px; top: -12px; display: block; width: 24px; height: 24px; padding: 0; }

.a-GV-floatingItem.is-expanded .a-GV-expandCollapse .a-Icon { -webkit-transform: scale(0.75); transform: scale(0.75); }

/* Scroll Filler / Gap ========================================================================== */
.a-GV-scrollFiller .a-GV-cell { height: 0; }

/* Load More ========================================================================== */
.a-GV-loadMore { text-align: center; padding: 8px; }

.a-GV-loadMoreButton { position: relative; }

/* Tooltips ========================================================================== */
.a-GV-tooltip.ui-tooltip { max-width: 280px; padding: 8px; border-radius: 2px; font-size: 11px; line-height: 1.5; -webkit-backdrop-filter: blur(4px); border: none; }

.a-GV-tooltip.ui-tooltip:before { content: ''; position: absolute; border-style: solid; display: block; width: 0; border-width: 0; }

.a-GV-tooltip.ui-tooltip.arrow-left:before { top: 50%; left: -8px; margin-top: -8px; border-width: 8px 8px 8px 0; }

.a-GV-tooltip.ui-tooltip.arrow-right:before { top: 50%; right: -8px; margin-top: -8px; border-width: 8px 0 8px 8px; }

.a-GV-tooltip.ui-tooltip.arrow-bottom:before { bottom: -8px; left: 50%; margin-left: -8px; border-width: 8px 8px 0; }

.a-GV-tooltip.ui-tooltip.arrow-top:before { top: -8px; left: 50%; margin-left: -8px; border-width: 0 8px 8px; }

.a-GV-tooltip.ui-tooltip.arrow-right:before, .a-GV-tooltip.ui-tooltip.arrow-left:before { border-color: transparent currentColor; }

.a-GV-tooltip.ui-tooltip.arrow-top:before, .a-GV-tooltip.ui-tooltip.arrow-bottom:before { border-color: currentColor transparent; }

/* Scrolling for Table Model View ========================================================================== */
.a-TMV-w-scroll { overflow: auto; }

/* Yes / No and Button Groups within Grid View ========================================================================== */
.a-GV-columnItem .apex-button-group label { min-width: 0; }

/* Add focus for Links in cells ========================================================================== */
.a-GV-cell a:focus { outline: 1px dotted; }

/* Select Cells ========================================================================== */
.a-GV.a-GV--selectCells .u-selector { opacity: 0; }
