/******************************************************************************
Sprite Mixin
******************************************************************************/
/******************************************************************************
Extendible Sprite Class
******************************************************************************/
/* ========================================================================== List View Region Type ========================================================================== */
.a-ListView { margin: 0; padding: 0; list-style: none; }

.a-ListView.ui-listview-inset { border-radius: 2px; border: 1px solid rgba(0, 0, 0, 0.1); margin: 12px; }

/* Divider ========================================================================== */
.a-ListView-divider { padding: 8px 12px; font-size: 14px; font-weight: bold; line-height: 1.5; background-color: rgba(0, 0, 0, 0.025); border-bottom: 1px solid rgba(0, 0, 0, 0.05); }

/* List Item ========================================================================== */
.a-ListView-item { border-bottom: 1px solid rgba(0, 0, 0, 0.05); padding: 8px 12px; font-size: 14px; line-height: 20px; position: relative; /* No Link, No Split Button ========================================================================== */ /* Main Link - No Split Button ========================================================================== */ /* Main Link + Split Button ========================================================================== */ /* Main Link */ /* Nested List Links ========================================================================== */ }

.a-ListView-item.has-link { padding: 0; }

.a-ListView-item:last-child { border-bottom-width: 0; }

.a-ListView-item .fa { margin: 10px 8px; height: 16px; width: 16px; text-align: center; color: rgba(0, 0, 0, 0.5); }

.a-ListView-item.has-link:not(.has-alt) .fa { position: absolute; right: 0; top: 0; }

.a-ListView-item.has-link:not(.has-alt).has-count .ui-li-count { right: 32px; }

.a-ListView-item.has-link.has-alt { /* Main Link */ /* Split Link */ }

.a-ListView-item.has-link.has-alt .ui-btn:first-child { margin-right: 32px; }

.a-ListView-item.has-link.has-alt .ui-btn:first-child .fa { display: none; }

.a-ListView-item.has-link.has-alt .ui-btn + .ui-btn { position: absolute; right: 0; top: 0; bottom: 0; padding: 0; border-left: 1px solid rgba(0, 0, 0, 0.05); }

.a-ListView-item.has-link.has-alt.has-count .ui-li-count { right: 8px; }

.a-ListView-item .ui-btn { position: relative; display: block; padding: 8px 12px; color: rgba(0, 0, 0, 0.75); }

.a-ListView-item .ui-btn:hover { background-color: rgba(0, 0, 0, 0.05); }

.a-ListView-item .ui-btn + .ui-btn-icon-notext { position: absolute; right: 0; top: 0; border-left: 1px solid rgba(0, 0, 0, 0.05); height: 100%; width: 20px; }

.a-ListView-item .ui-btn + .ui-btn-icon-notext:before { margin: 8px; border-radius: 100%; width: 20px; height: 20px; background-color: rgba(0, 0, 0, 0.05); }

.a-ListView-item .ui-li-aside { color: rgba(0, 0, 0, 0.55); margin: 0; font-size: 11px; line-height: 16px; }

.a-ListView-item .ui-li-count { position: absolute; right: 8px; top: 8px; font-size: 11px; padding: 0 4px; line-height: 20px; border-radius: 2px; background-color: rgba(0, 0, 0, 0.05); box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05) inset; color: rgba(0, 0, 0, 0.55); }

.a-ListView-item.has-alt:not(.has-link) .fa { position: absolute; top: 0; right: 0; }

.a-ListView-item.has-alt .ui-li-count { right: 32px; }

.a-ListView-item .apex-load-more { text-align: center; }

/* Notes has-alt => has description ========================================================================== */
/* Nested List Header ========================================================================== */
.a-ListView-header { margin: 12px; display: flex; align-items: center; }

.a-ListView-header button { flex-shrink: 0; }

.a-ListView-header h3 { flex-grow: 1; text-align: center; margin: 0; font-size: 14px; font-weight: 500; line-height: 20px; }

/* Search Bar ========================================================================== */
.a-ListView-searchbar { padding: 12px; }

.a-ListView-searchbar input { display: block; padding: 8px; font-size: 12px; line-height: 24px; border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 2px; width: 100%; }

.a-ListView-searchbar + .a-ListView { border-top: 1px solid rgba(0, 0, 0, 0.1); }
