/** Import Compass */
/* ========================================================================== Icon Library Mixin ========================================================================== */
/* ========================================================================== Shadows ========================================================================== */
/* ========================================================================== Forms ========================================================================== */
.t-Form-fieldContainer { border-spacing: 0; width: auto; clear: both; /* display the icon to the left of the input field */ }

.col > .t-Form-fieldContainer { margin-right: -8px; margin-left: -8px; }

.t-Form-fieldContainer .apex-item-icon { float: none; position: relative; padding: 4px; pointer-events: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; left: 24px; margin-left: -24px; }

.u-RTL .t-Form-fieldContainer .apex-item-icon { left: auto; right: 24px; }

.u-RTL .t-Form-fieldContainer .apex-item-icon { margin-left: 0px; margin-right: -24px; }

.t-Form-fieldContainer .apex-item-has-icon { text-indent: 20px; }

.t-Form-fieldContainer .apex-item-has-icon:focus + .apex-item-icon { z-index: 2; }

.t-Form-labelContainer, .t-Form-inputContainer { padding: .8rem; }

.t-Form-labelContainer { text-align: right; float: left; }

.u-RTL .t-Form-labelContainer { text-align: left; }

.t-Form-inputContainer { position: relative; overflow: hidden; }

.t-Form-itemWrapper { display: flex; align-items: flex-start; flex-wrap: nowrap; }

/* Generic Form Containers ========================================================================== */
.apex-item-group:focus { outline: none; }

/* Input Field Ordering Necessary for proper item icon positioning ========================================================================== */
.t-Form-itemText--pre { order: 1; }

.t-Form-inputContainer input, .t-Form-inputContainer select, .t-Form-inputContainer textarea, .t-Form-inputContainer .a-Button--calendar, .t-Form-inputContainer .a-Button--popupLOV { order: 3; }

.t-Form-itemWrapper .apex-item-icon, .t-Form-itemWrapper fieldset, .t-Form-itemWrapper .apex-item-group { order: 2; }

.t-Form-itemText--post { order: 4; }

.t-Form-helpButton, .t-Button--helpButton { order: 5; }

.t-Form-itemWrapper .apex-quick-picks { order: 6; }

.t-Form-itemWrapper .u-Processing--inline { order: 999; }

/* Responsive Handling ========================================================================== */
.t-Form-label { padding: .4rem 0; line-height: 1.6rem; display: inline-block; -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; font-size: 1.2rem; }

.apex-item-text, .apex-item-select[size="1"] { height: 2.4rem; }

.apex-item-display-only { min-height: 2.4rem; box-shadow: none; font-weight: bold; }

.apex-item-text, .apex-item-select, .apex-item-textarea { display: inline-block; font-size: 1.2rem; vertical-align: top; line-height: 1.6rem; padding: .3rem; border: 1px solid; border-radius: 2px; max-width: 100%; transition: background-color .1s ease, border .1s ease; }

.apex-item-text:focus, .apex-item-select:focus, .apex-item-textarea:focus { z-index: 1; outline: none; }

.t-Form input.file { display: inline-block; font-size: 1.4rem; vertical-align: middle; line-height: 1.6rem; }

/* Text Area ========================================================================== */
.apex-item-textarea { -webkit-appearance: none; -moz-appearance: none; appearance: none; min-height: 6.4rem; font-family: 'Menlo', 'Consolas', monospace, serif; }

/* Select List ========================================================================== */
.apex-item-select.apex-item-has-icon { text-indent: 20px; }

.a-IRR-selectList[size="1"], .apex-item-select[size="1"] { -webkit-appearance: none; -moz-appearance: none; text-indent: 0.01px; background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MDAiIGhlaWdodD0iMjAwIiB2aWV3Qm94PSItOTkuNSAwLjUgNDAwIDIwMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAtOTkuNSAwLjUgNDAwIDIwMCI+PHBhdGggZmlsbD0iIzQ0NCIgZD0iTTE1Ni4yNSA3My43YzAgMS42LS42MTIgMy4yLTEuODI1IDQuNDI1bC01NC40MjUgNTQuNDI1LTU0LjQyNS01NC40MjVjLTIuNDM4LTIuNDM4LTIuNDM4LTYuNCAwLTguODM3czYuNC0yLjQzOCA4LjgzNyAwbDQ1LjU4OCA0NS41NzQgNDUuNTc1LTQ1LjU3NWMyLjQzOC0yLjQzOCA2LjM5OS0yLjQzOCA4LjgzNyAwIDEuMjI2IDEuMjI2IDEuODM4IDIuODI1IDEuODM4IDQuNDEzeiIvPjwvc3ZnPg==); background-repeat: no-repeat; background-position: 100% 50%; background-size: 32px 16px; padding-right: 3.2rem; }

.u-RTL .a-IRR-selectList[size="1"], .u-RTL .apex-item-select[size="1"] { background-position: 0 50%; padding-right: 0.8rem; padding-left: 3.2rem; }

.a-IRR-selectList[size="1"]:focus, .apex-item-select[size="1"]:focus { outline: none; }

.a-IRR-selectList[size="1"]:-moz-focusring, .a-IRR-selectList[size="1"]::-moz-focus-inner, .apex-item-select[size="1"]:-moz-focusring, .apex-item-select[size="1"]::-moz-focus-inner { outline: none; }

body:not(:-moz-handler-blocked) .t-Form-select { padding: .2rem 1.2rem .2rem .2rem; }

/* Read Only Item ========================================================================== */
.t-Form-field--readOnly { border: none; box-shadow: none; font-weight: bold; }

/* Radio and Checkboxes ========================================================================== */
.u-TF-item--radio, .u-TF-item--checkbox { margin-right: 4px; }

.t-Form-radioLabel, .t-Form-inputContainer .radio_group label, .t-Form-checkboxLabel, .t-Form-inputContainer .checkbox_group label { font-size: 1.2rem; line-height: 1.6rem; }

.t-Form-inputContainer input:checked + label { font-weight: bold; }

/* ========================================================================== Validations ========================================================================== */
.a-Form-error, .t-Form-error { font-size: 1.1rem; line-height: 1.6rem; display: block; margin-top: 4px; flex-basis: 100%; order: 1; }

.a-Form-error:empty, .t-Form-error:empty { display: none; }

/* ========================================================================== APEX Generated UI Buttons for Forms (Popup LOV) ========================================================================== */
.t-Form-inputContainer .a-Button, .t-Form-inputContainer .t-Button { vertical-align: top; }

.u-TF-item--datepicker, span.lov .u-TF-item--text { border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important; }

span.lov, .u-TF-itemWrap { white-space: nowrap; }

.t-Form-inputContainer fieldset.lov .a-Button, .t-Form-inputContainer .a-Button--calendar, .u-TF-item--datepicker + .a-Button--calendar, .a-Button.a-Button--popupLOV { margin-left: -.1rem; }

.t-Form-inputContainer .apex-item-group .a-Button { vertical-align: top; }

.u-TF-item--datepicker + .a-Button--calendar, .a-Button.a-Button--popupLOV { vertical-align: top; border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important; }

/* ========================================================================== Help Button ========================================================================== */
.t-Form-helpButton { -webkit-appearance: none; padding: 4px; border-width: 0; background-color: transparent; cursor: pointer; display: flex; }

.t-Form-helpButton .a-Icon { opacity: .25; }

.t-Form-helpButton:hover .a-Icon { opacity: .75; }

.t-Form-helpButton:focus { outline: none; }

.t-Form-helpButton:focus .a-Icon { opacity: 1; }

/* ========================================================================== Large Form ========================================================================== */
.t-Form--large .t-Form-itemText, .t-Form-fieldContainer--large .t-Form-itemText { line-height: 3.2rem; font-size: 1.4rem; }

.t-Form--large .apex-item-icon, .t-Form-fieldContainer--large .apex-item-icon { padding: 8px; left: 32px; margin-left: -32px; }

.u-RTL .t-Form--large .apex-item-icon, .u-RTL .t-Form-fieldContainer--large .apex-item-icon { left: auto; right: 32px; }

.u-RTL .t-Form--large .apex-item-icon, .u-RTL .t-Form-fieldContainer--large .apex-item-icon { margin-left: 0px; margin-right: -32px; }

.t-Form--large .apex-item-has-icon, .t-Form-fieldContainer--large .apex-item-has-icon { text-indent: 20px; }

.t-Form--large .t-Form-label, .t-Form-fieldContainer--large .t-Form-label { padding: .8rem 0; line-height: 1.6rem; font-size: 1.4rem; }

.t-Form--large .apex-item-text, .t-Form--large .apex-item-select, .t-Form--large .apex-item-textarea, .t-Form-fieldContainer--large .apex-item-text, .t-Form-fieldContainer--large .apex-item-select, .t-Form-fieldContainer--large .apex-item-textarea { font-size: 1.4rem; padding: .7rem; }

.t-Form--large .apex-item-text, .t-Form--large .apex-item-select[size="1"], .t-Form-fieldContainer--large .apex-item-text, .t-Form-fieldContainer--large .apex-item-select[size="1"] { height: 3.2rem; }

.t-Form--large .apex-item-select[size="1"], .t-Form-fieldContainer--large .apex-item-select[size="1"] { padding-right: 4.0rem; }

.t-Form--large .a-Button.a-Button--calendar, .t-Form-fieldContainer--large .a-Button.a-Button--calendar { padding: .8rem 1.2rem; }

.t-Form--large .t-Form-radioLabel, .t-Form--large .radio_group label, .t-Form--large .t-Form-checkboxLabel, .t-Form--large .checkbox_group label, .t-Form--large select[multiple], .t-Form-fieldContainer--large .t-Form-radioLabel, .t-Form-fieldContainer--large .radio_group label, .t-Form-fieldContainer--large .t-Form-checkboxLabel, .t-Form-fieldContainer--large .checkbox_group label, .t-Form-fieldContainer--large select[multiple] { font-size: 1.4rem; line-height: 2.0rem; }

.t-Form--large .t-Form-inputContainer .a-Button, .t-Form-fieldContainer--large .t-Form-inputContainer .a-Button { padding: .8rem 1.2rem; }

.t-Form--large.t-Form--labelsAbove .t-Form-fieldContainer .t-Form-labelContainer--hiddenLabel, .t-Form-fieldContainer--stacked.t-Form--fieldContainer--large .t-Form-labelContainer--hiddenLabel { height: 4.0rem; }

/* Button Groups for Radio Buttons */
.t-Form--large .t-Form-fieldContainer--radioButtonGroup .apex-item-group--rc input + label, .t-Form-fieldContainer--large.t-Form-fieldContainer--radioButtonGroup .apex-item-group--rc input + label, .t-Form--large .apex-button-group .apex-item-group--rc input + label, .t-Form-fieldContainer--large .apex-button-group .apex-item-group--rc input + label { padding: 8px 12px; line-height: 1.6rem; font-size: 1.2rem; }

/* ========================================================================== X Large Form ========================================================================== */
.t-Form--xlarge .t-Form-itemText, .t-Form-fieldContainer--xlarge .t-Form-itemText { line-height: 4.0rem; font-size: 1.6rem; }

.t-Form--xlarge .apex-item-icon, .t-Form-fieldContainer--xlarge .apex-item-icon { padding: 12px 8px 12px 12px; left: 36px; margin-left: -36px; }

.t-Form--xlarge .apex-item-has-icon, .t-Form-fieldContainer--xlarge .apex-item-has-icon { text-indent: 24px; }

.t-Form--xlarge .apex-item-select.apex-item-has-icon, .t-Form-fieldContainer--xlarge .apex-item-select.apex-item-has-icon { text-indent: 20px; }

.t-Form--xlarge .t-Form-label, .t-Form-fieldContainer--xlarge .t-Form-label { padding: 1.2rem 0; line-height: 1.6rem; font-size: 1.6rem; }

.t-Form--xlarge .apex-item-textarea, .t-Form--xlarge .apex-item-text, .t-Form--xlarge .apex-item-select, .t-Form-fieldContainer--xlarge .apex-item-textarea, .t-Form-fieldContainer--xlarge .apex-item-text, .t-Form-fieldContainer--xlarge .apex-item-select { font-size: 1.6rem; padding: .9rem; }

.t-Form--xlarge .apex-item-text, .t-Form--xlarge .apex-item-select[size="1"], .t-Form-fieldContainer--xlarge .apex-item-text, .t-Form-fieldContainer--xlarge .apex-item-select[size="1"] { height: 4.0rem; }

.t-Form--xlarge .apex-item-select, .t-Form-fieldContainer--xlarge .apex-item-select { line-height: 2rem; padding-right: 4.8rem; }

.t-Form--xlarge .t-Form-radioLabel, .t-Form--xlarge .radio_group label, .t-Form--xlarge .t-Form-checkboxLabel, .t-Form--xlarge .checkbox_group label, .t-Form--xlarge select[multiple], .t-Form-fieldContainer--xlarge .t-Form-radioLabel, .t-Form-fieldContainer--xlarge .radio_group label, .t-Form-fieldContainer--xlarge .t-Form-checkboxLabel, .t-Form-fieldContainer--xlarge .checkbox_group label, .t-Form-fieldContainer--xlarge select[multiple] { font-size: 1.6rem; line-height: 3.2rem; }

.t-Form--xlarge .t-Form-inputContainer .a-Button, .t-Form--xlarge .t-Form-inputContainer .t-Button, .t-Form-fieldContainer--xlarge .t-Form-inputContainer .a-Button, .t-Form-fieldContainer--xlarge .t-Form-inputContainer .t-Button { padding: 1.2rem; }

.t-Form--xlarge.t-Form--labelsAbove .t-Form-fieldContainer .t-Form-labelContainer--hiddenLabel, .t-Form-fieldContainer--stacked.t-Form--fieldContainer--xlarge .t-Form-labelContainer--hiddenLabel { height: 4.8rem; }

/* Button Groups for Radio Buttons */
.t-Form--xlarge .t-Form-fieldContainer--radioButtonGroup .apex-item-group--rc input + label, .t-Form-fieldContainer--xlarge.t-Form-fieldContainer--radioButtonGroup .apex-item-group--rc input + label, .t-Form--xlarge .apex-button-group .apex-item-group--rc input + label, .t-Form-fieldContainer--xlarge .apex-button-group .apex-item-group--rc input + label { padding: 12px; font-size: 1.4rem; line-height: 1.6rem; }

/* ========================================================================== No Padding ========================================================================== */
.t-Form--noPadding .t-Form-inputContainer, .t-Form--noPadding .t-Form-labelContainer { padding-top: 0; padding-bottom: 0; }

/* ========================================================================== Slim Padding ========================================================================== */
.t-Form--slimPadding .t-Form-inputContainer, .t-Form--slimPadding .t-Form-labelContainer { padding-top: 0.4rem; padding-bottom: 0.4rem; }

/* ========================================================================== Labels Above ========================================================================== */
.t-Form--labelsAbove .t-Form-fieldContainer.rel-col > .col, .t-Form-fieldContainer--stacked.rel-col > .col { width: auto !important; float: none; display: block; }

.t-Form--labelsAbove .t-Form-fieldContainer .t-Form-labelContainer, .t-Form-fieldContainer--stacked .t-Form-labelContainer { width: auto; text-align: left; float: none; padding-bottom: 0; }

.u-RTL .t-Form--labelsAbove .t-Form-fieldContainer .t-Form-labelContainer, .u-RTL .t-Form-fieldContainer--stacked .t-Form-labelContainer { text-align: right; }

.t-Form--labelsAbove .t-Form-fieldContainer .t-Form-labelContainer--hiddenLabel, .t-Form-fieldContainer--stacked .t-Form-labelContainer--hiddenLabel { height: 3.2rem; }

.t-Form--labelsAbove .t-Form-fieldContainer .t-Form-inputContainer, .t-Form-fieldContainer--stacked .t-Form-inputContainer { padding-top: 0; }

.t-Form--labelsAbove .t-Form-fieldContainer select.selectlist, .t-Form-fieldContainer--stacked select.selectlist { max-width: 100%; }

.t-Form--labelsAbove .t-Form-fieldContainer .t-Form-radio, .t-Form--labelsAbove .t-Form-fieldContainer .t-Form fieldset.radio_group, .t-Form-fieldContainer--stacked .t-Form-radio, .t-Form-fieldContainer--stacked .t-Form fieldset.radio_group { display: block; margin-left: 2.4rem; }

/* ========================================================================== Stretch Inputs ========================================================================== */
.t-Form--stretchInputs .t-Form-fieldContainer .t-Form-itemWrapper, .t-Form--stretchInputs .t-Form-fieldContainer .t-Form-itemWrapper .apex-item-group--textarea, .t-Form--stretchInputs .t-Form-fieldContainer .apex-item-group--file, .t-Form-fieldContainer--stretchInputs .t-Form-itemWrapper, .t-Form-fieldContainer--stretchInputs .t-Form-itemWrapper .apex-item-group--textarea, .t-Form-fieldContainer--stretchInputs .apex-item-group--file { width: 100%; }

.t-Form--stretchInputs .t-Form-fieldContainer .apex-item-text, .t-Form--stretchInputs .t-Form-fieldContainer .apex-item-select, .t-Form-fieldContainer--stretchInputs .apex-item-text, .t-Form-fieldContainer--stretchInputs .apex-item-select { flex: 1; min-width: 0; }

.t-Form--stretchInputs .t-Form-fieldContainer .apex-item-grid, .t-Form--stretchInputs .t-Form-fieldContainer fieldset, .t-Form--stretchInputs .t-Form-fieldContainer textarea, .t-Form--stretchInputs .t-Form-fieldContainer table, .t-Form--stretchInputs .t-Form-fieldContainer td.lov, .t-Form--stretchInputs .t-Form-fieldContainer input.popup_lov, .t-Form-fieldContainer--stretchInputs .apex-item-grid, .t-Form-fieldContainer--stretchInputs fieldset, .t-Form-fieldContainer--stretchInputs textarea, .t-Form-fieldContainer--stretchInputs table, .t-Form-fieldContainer--stretchInputs td.lov, .t-Form-fieldContainer--stretchInputs input.popup_lov { width: 100%; }

.t-Form--stretchInputs .t-Form-fieldContainer .apex-item-group, .t-Form-fieldContainer--stretchInputs .apex-item-group { flex-grow: 1; }

.t-Form-fieldContainer.is-required .t-Form-label:before, .t-Form-fieldContainer.is-required .t-Form-label:after { content: "\e058"; font-family: "apex-5-icon-font" !important; font-size: 16px; vertical-align: bottom; color: red; }

.t-Form-fieldContainer.is-required .t-Form-label:after { display: none; }

.t-Form--leftLabels .t-Form-fieldContainer.is-required .t-Form-label:before { display: none; }

.t-Form--leftLabels .t-Form-fieldContainer.is-required .t-Form-label:after { display: inline-block; margin-left: -4px; }

.u-RTL .t-Form-fieldContainer.is-required .t-Form-label:before { display: none; }

.u-RTL .t-Form-fieldContainer.is-required .t-Form-label:after { display: inline; }

.u-RTL .t-Form--leftLabels .t-Form-fieldContainer.is-required .t-Form-label:before { display: inline; }

.u-RTL .t-Form--leftLabels .t-Form-fieldContainer.is-required .t-Form-label:after { display: none; }

/* ========================================================================== Login Form ========================================================================== */
.t-Form--login .t-Form-label { padding: .8rem 0; line-height: 1.6rem; font-size: 1.6rem; }

.t-Form--login .apex-item-text, .t-Form--login .apex-item-select[size="1"] { font-size: 1.6rem; padding: .8rem; height: 3.6rem; }

.t-Form--login .apex-item-select { background-size: contain; padding-right: 4.4rem; }

.t-Form--login .t-Form-radioLabel, .t-Form--login .radio_group label, .t-Form--login .t-Form-checkboxLabel, .t-Form--login .checkbox_group label, .t-Form--login select[multiple] { font-size: 1.6rem; line-height: 2.4rem; }

.t-Form--login .t-Form-inputContainer .a-Button, .t-Form--login .t-Form-inputContainer .t-Button { padding: 1.0rem 1.2rem; }

/* ========================================================================== Hidden Label (using 0 label column span) ========================================================================== */

.t-Form-labelContainer.col-0:not(.t-Form-labelContainer--hiddenLabel) { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; padding: 0; }

.t-Form-labelContainer--hiddenLabel.col-0, .t-Form-labelContainer--hiddenLabel.col-null { padding: 0 !important; height: 0 !important; width: 0 !important; min-height: 0; min-width: 0; float: none; }

.t-Form-fieldContainer--hiddenLabel > .t-Form-inputContainer.col-null { width: 100%; float: none; }

.t-Form-fieldContainer--hiddenLabel.t-Form-fieldContainer--noLabelSpacing.rel-col { margin-right: 0; margin-left: 0; }

.t-Form-fieldContainer--hiddenLabel.t-Form-fieldContainer--noLabelSpacing.rel-col > .t-Form-labelContainer--hiddenLabel.col { min-width: 0; width: 0; padding: 0; }

.t-Form-fieldContainer--hiddenLabel.t-Form-fieldContainer--noLabelSpacing.rel-col > .t-Form-inputContainer.col { width: 100%; }

.t-Form-labelContainer--hiddenLabel { min-height: 3.2rem; padding: .0rem; min-width: 0; }

/* ========================================================================== No Grid Support (Default Widths) --- Apply this grid for Optional / Required label templates when they are placed in a Display Position that does not support Grids ========================================================================== */
.t-Form-labelContainer.col-null { width: 25%; }

.t-Form-inputContainer.col-null { width: 75%; }

/* ========================================================================== Search Field ========================================================================== */
.t-Form--search .t-Form-labelContainer--hiddenLabel { width: 0; min-width: 0; }

.t-Form--search .t-Form-inputContainer { text-align: center; }

/* TODO: Remove t-Form-searchField as we have item icon support in 5.1 */
.t-Form-searchField:not(.apex-item-has-icon) { background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBkPSJNMTQuNyAxNC43Yy0uNC40LTEgLjQtMS40IDBsLTMuNi0zLjZjLS45LjYtMiAuOS0zLjEuOS0zLjEgMC01LjYtMi41LTUuNi01LjVzMi41LTUuNSA1LjUtNS41IDUuNSAyLjUgNS41IDUuNWMwIDEuMi0uMyAyLjItLjkgMy4xbDMuNiAzLjZjLjQuNS40IDEuMSAwIDEuNXptLTguMi0xMS43Yy0xLjkgMC0zLjUgMS42LTMuNSAzLjVzMS42IDMuNSAzLjUgMy41IDMuNS0xLjYgMy41LTMuNS0xLjYtMy41LTMuNS0zLjV6IiBvcGFjaXR5PSIuNSIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMyMzFGMjAiLz48L3N2Zz4=); background-position: .3rem .3rem; background-repeat: no-repeat; padding-left: 2.4rem; background-size: 1.6rem; }

/* TODO: Remove t-Form-searchField as we have item icon support in 5.1 */
input[type=text].t-Form-searchField:not(.apex-item-has-icon) { padding-left: 2.4rem; }

.t-Form--large, .t-Form-fieldContainer--large { /* TODO: Remove t-Form-searchField as we have item icon support in 5.1 */ }

.t-Form--large .t-Form-searchField:not(.apex-item-has-icon), .t-Form-fieldContainer--large .t-Form-searchField:not(.apex-item-has-icon) { background-size: 1.6rem; background-position: .8rem; }

.u-RTL .t-Form--large .t-Form-searchField:not(.apex-item-has-icon), .u-RTL .t-Form-fieldContainer--large .t-Form-searchField:not(.apex-item-has-icon) { background-position: right .8rem top .7rem; }

.t-Form--large input[type=text].t-Form-searchField:not(.apex-item-has-icon), .t-Form-fieldContainer--large input[type=text].t-Form-searchField:not(.apex-item-has-icon) { padding-left: 3.0rem; }

.u-RTL .t-Form--large input[type=text].t-Form-searchField:not(.apex-item-has-icon), .u-RTL .t-Form-fieldContainer--large input[type=text].t-Form-searchField:not(.apex-item-has-icon) { padding-left: .7rem; padding-right: 3.0rem; }

.t-Form--xlarge .t-Form-searchField:not(.apex-item-has-icon), .t-Form-fieldContainer--xlarge .t-Form-searchField:not(.apex-item-has-icon) { background-size: 2.2rem; background-position: .9rem; }

.u-RTL .t-Form--xlarge .t-Form-searchField:not(.apex-item-has-icon), .u-RTL .t-Form-fieldContainer--xlarge .t-Form-searchField:not(.apex-item-has-icon) { background-position: right .9rem top .8rem; }

.t-Form--xlarge input[type=text].t-Form-searchField:not(.apex-item-has-icon), .t-Form-fieldContainer--xlarge input[type=text].t-Form-searchField:not(.apex-item-has-icon) { padding-left: 4.0rem; }

.u-RTL .t-Form--xlarge input[type=text].t-Form-searchField:not(.apex-item-has-icon), .u-RTL .t-Form-fieldContainer--xlarge input[type=text].t-Form-searchField:not(.apex-item-has-icon) { padding-left: 1.6rem; padding-right: 4.0rem; }

/* ========================================================================== Field Modifiers ========================================================================== */
.apex-item-text.stretch, .apex-item-select.stretch { width: 100%; }

/* ========================================================================== List Manager ========================================================================== */
fieldset.listmanager table { border-collapse: collapse; }

fieldset.listmanager td { padding: 0 !important; }

fieldset.listmanager select.listmanager { margin-top: .8rem; }

/* ========================================================================== Shuttles ========================================================================== */
.apex-item-group--shuttle { width: 100%; }

.apex-item-group--shuttle table.shuttle { width: 100%; border-collapse: collapse; }

.apex-item-group--shuttle td { vertical-align: top; }

.apex-item-group--shuttle .shuttleControl, .apex-item-group--shuttle .shuttleSort2 { width: 1%; }

.apex-item-group--shuttle .shuttleSelect1, .apex-item-group--shuttle .shuttleSelect2 { width: 49%; }

.apex-item-group--shuttle select.shuttle_left, .apex-item-group--shuttle select.shuttle_right { width: 100%; min-height: 14.0rem; margin: .4rem 0; }

/* ========================================================================== Form Alignment ========================================================================== */
.t-Form--alignLeft .col { width: auto; }

.t-Form--alignLeft .t-Form-fieldContainer { width: auto; display: inline-block; vertical-align: top; }

.t-Form--alignLeft .t-Form-labelContainer { width: auto; min-width: 0; }

.t-Form--floatLeft { overflow: hidden; }

.t-Form--floatLeft .col { width: auto !important; }

.u-RTL .t-Form--floatLeft .col { float: right; }

.t-Form--floatLeft .t-Form-fieldContainer { width: auto; float: left; clear: none; }

.u-RTL .t-Form--floatLeft .t-Form-fieldContainer { float: right; }

.t-Form--floatLeft .t-Form-labelContainer { min-width: 0; width: auto; }

.t-Form--floatLeft .t-Form-inputContainer select { max-width: 100%; }

.t-Form--leftLabels .t-Form-labelContainer { text-align: left; }

.u-RTL .t-Form--leftLabels .t-Form-labelContainer { text-align: right; }

.t-Form--fixedLabels .t-Form-labelContainer { width: 16.0rem; }

.apex-tabular-form-error { border-color: #E92020 !important; }

.apex-tabular-form-error + .a-Button { box-shadow: 0 0 0 1px #E92020 inset; }

.apex-tabular-highlight { border-color: #ffcc00 !important; }

.apex-tabular-highlight + .a-Button { box-shadow: 0 0 0 1px #ffcc00 inset; }

/******************************************************************************
Checkbox + Radio Buttons
******************************************************************************/
.t-Form-inputContainer .checkbox_group input, .t-Form-inputContainer .radio_group input { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; /* Disabled State ========================================================================== */ /* Focus ========================================================================== */ }

.t-Form-inputContainer .checkbox_group input + label, .t-Form-inputContainer .radio_group input + label { position: relative; padding-left: 20px; padding-right: 8px; cursor: pointer; display: inline-block; margin: 4px 0; vertical-align: top; min-height: 16px; }

.u-RTL .t-Form-inputContainer .checkbox_group input + label, .u-RTL .t-Form-inputContainer .radio_group input + label { padding-right: 20px; padding-left: 8px; }

.t-Form-inputContainer .checkbox_group input + label:before, .t-Form-inputContainer .checkbox_group input + label:after, .t-Form-inputContainer .radio_group input + label:before, .t-Form-inputContainer .radio_group input + label:after { width: 16px; height: 16px; position: absolute; top: 0; left: 0; display: block; content: ''; transition: .25s ease; }

.u-RTL .t-Form-inputContainer .checkbox_group input + label:before, .u-RTL .t-Form-inputContainer .checkbox_group input + label:after, .u-RTL .t-Form-inputContainer .radio_group input + label:before, .u-RTL .t-Form-inputContainer .radio_group input + label:after { right: 0; left: auto; }

.t-Form-inputContainer .checkbox_group input + label:before, .t-Form-inputContainer .radio_group input + label:before { border: 1px solid rgba(0, 0, 0, 0.2); z-index: 90; }

.t-Form-inputContainer .checkbox_group input + label:after, .t-Form-inputContainer .radio_group input + label:after { z-index: 100; opacity: 0; }

.t-Form-inputContainer .checkbox_group input:disabled + label, .t-Form-inputContainer .radio_group input:disabled + label { opacity: .5; cursor: default; pointer-events: none; }

.t-Form-inputContainer .checkbox_group input:disabled + label:before, .t-Form-inputContainer .radio_group input:disabled + label:before { opacity: .5; }

.t-Form-inputContainer .checkbox_group input:focus + label:before, .t-Form-inputContainer .radio_group input:focus + label:before { box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px; }

.t-Form-inputContainer .checkbox_group input:hover:checked + label:after .t-Form-inputContainer .checkbox_group input:focus:checked + label:after, .t-Form-inputContainer .radio_group input:hover:checked + label:after .t-Form-inputContainer .checkbox_group input:focus:checked + label:after, .t-Form-inputContainer .checkbox_group input:hover:checked + label:after .t-Form-inputContainer .radio_group input:focus:checked + label:after, .t-Form-inputContainer .radio_group input:hover:checked + label:after .t-Form-inputContainer .radio_group input:focus:checked + label:after { opacity: 1; }

/******************************************************************************
Checkbox Specific
******************************************************************************/
.t-Form-inputContainer .checkbox_group input { /* Unchecked ========================================================================== */ /* Checked ========================================================================== */ }

.t-Form-inputContainer .checkbox_group input + label:before { border-radius: 2px; }

.t-Form-inputContainer .checkbox_group input + label:after { background-size: 16px; background-position: 50%; background-repeat: no-repeat; }

.t-Form-inputContainer .checkbox_group input:hover + label:after, .t-Form-inputContainer .checkbox_group input:focus + label:after { -webkit-transform: scale(0); transform: scale(0); opacity: 0; }

@-webkit-keyframes checkmark { 0% { -webkit-transform: scale(0); transform: scale(0); }
  75% { -webkit-transform: scale(1.25); transform: scale(1.25); }
  100% { -webkit-transform: scale(1); transform: scale(1); } }

@keyframes checkmark { 0% { -webkit-transform: scale(0); transform: scale(0); }
  75% { -webkit-transform: scale(1.25); transform: scale(1.25); }
  100% { -webkit-transform: scale(1); transform: scale(1); } }

.t-Form-inputContainer .checkbox_group input:checked + label:after { font-family: "apex-5-icon-font" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: '\e007'; color: white; font-size: 14px; width: 14px; height: 14px; padding: 1px; opacity: 1; -webkit-transform: scale(1); transform: scale(1); -webkit-animation: checkmark .25s ease-in-out; animation: checkmark .25s ease-in-out; animation-film-mode: forwards; }

/******************************************************************************
Radio Specific
******************************************************************************/
@-webkit-keyframes radio { 0% { -webkit-transform: scale(3); transform: scale(3); }
  100% { -webkit-transform: scale(1); transform: scale(1); } }
@keyframes radio { 0% { -webkit-transform: scale(3); transform: scale(3); }
  100% { -webkit-transform: scale(1); transform: scale(1); } }

.t-Form-inputContainer .radio_group input { /* Unchecked ========================================================================== */ /* Checked ========================================================================== */ }

.t-Form-inputContainer .radio_group input + label:before { border-radius: 16px; }

.t-Form-inputContainer .radio_group input + label:after { width: 6px; height: 6px; margin: 5px; border-radius: 100%; }

.t-Form-inputContainer .radio_group input:checked + label:after { opacity: 1; -webkit-transform: scale(1); transform: scale(1); -webkit-animation: radio .15s ease-in-out; animation: radio .15s ease-in-out; animation-film-mode: forwards; }

/* ========================================================================== Inline Help --- Display help text immediately below the input field. ========================================================================== */
/* Hide Inline Help ========================================================================== */
.t-Form-inlineHelp { display: block; width: 100%; font-size: 1.1rem; line-height: 1.6rem; margin-top: 4px; }

/* Same Column Item and Button Alignment ========================================================================== */
.t-Form-inputContainer-col .t-Form-labelContainer, .t-Form-inputContainer-col .t-Form-inputContainer { padding-top: 0; padding-bottom: 0; display: block; padding-right: 0; }

.t-Form-inputContainer-col .t-Form-labelContainer { padding-right: 0; }

/* ========================================================================== Form Items in Side Columns ========================================================================== */
.t-Body-side .t-Form-fieldContainer:not(:first-child) { margin-top: 16px; }

.t-Body-side .t-Form-labelContainer, .t-Body-side .t-Form-inputContainer, .t-Body-side .t-Form-labelContainer.col, .t-Body-side .t-Form-inputContainer.col { padding: 0; }

/* ========================================================================== Pre and Post Text Styles ========================================================================== */
.t-Form-itemText { flex-shrink: 0; line-height: 2.4rem; font-size: 1.2rem; }

.t-Form-itemText:empty { display: none; }

.t-Form-fieldContainer--preTextBlock fieldset.radio_group, .t-Form-fieldContainer--preTextBlock fieldset.checkbox_group, .t-Form-fieldContainer--postTextBlock fieldset.radio_group, .t-Form-fieldContainer--postTextBlock fieldset.checkbox_group { padding: 4px 8px; }

.t-Form-fieldContainer--preTextBlock .t-Form-itemText--pre, .t-Form-fieldContainer--postTextBlock .t-Form-itemText--post { padding: 0 8px; }

.t-Form-fieldContainer--preTextBlock .t-Form-itemText--pre { margin-right: -1px; }

.t-Form-fieldContainer--postTextBlock .t-Form-itemText--post { margin-left: -1px; }

/* APEX Button Group (for Switch and Pill Buttons) ========================================================================== */
.apex-button-group .a-Button { padding-right: 1.2rem; padding-left: 1.2rem; }

/* File Upload Download Link ========================================================================== */
.apex-item-file-upload + a { order: 10; display: block; font-size: 12px; }

/* Quick Picks ========================================================================== */
.apex-quick-picks { font-size: 1.1rem; line-height: 1.6rem; flex-basis: 100%; }

/* ========================================================================== JET Autocomplete Item ========================================================================== */
.t-Form--stretchInputs .apex-item-group--auto-complete, .t-Form-fieldContainer--floatingLabel .apex-item-group--auto-complete { width: 100%; }

.apex-item-group--auto-complete .apex-item-auto-complete::-webkit-input-placeholder { font-style: normal; color: #000; opacity: .35; }

.apex-item-group--auto-complete .apex-item-auto-complete:-ms-input-placeholder { font-style: normal; color: #000; opacity: .35; }

.apex-item-group--auto-complete .apex-item-auto-complete::-ms-input-placeholder { font-style: normal; color: #000; opacity: .35; }

.apex-item-group--auto-complete .apex-item-auto-complete::placeholder { font-style: normal; color: #000; opacity: .35; }

.apex-item-group--auto-complete .oj-form-control { margin: 0; max-width: none; min-width: 0; display: block; }

.apex-item-group--auto-complete .oj-inputsearch-choice { height: auto; border: 0; padding: 0; margin: 0; }

.apex-item-group--auto-complete .oj-inputsearch-input { flex-basis: auto; }

@media only screen and (max-width: 640px) { .t-Form-labelContainer { text-align: left; }
  .u-RTL .t-Form-labelContainer { text-align: right; } :not(.t-Dialog) .t-Form-inputContainer { display: flex; flex-wrap: wrap; }
  :not(.t-Dialog) .apex-item-text, :not(.t-Dialog) .apex-item-select { flex-grow: 1; }
  :not(.t-Dialog) .apex-item-group { flex-grow: 1; }
  :not(.t-Dialog) .apex-item-grid, :not(.t-Dialog) fieldset, :not(.t-Dialog) textarea, :not(.t-Dialog) table, :not(.t-Dialog) td.lov, :not(.t-Dialog) input.popup_lov { width: 100%; } .t-Form-labelContainer--hiddenLabel { min-height: 0 !important; height: 0 !important; padding: 0; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .a-IRR-selectList::-ms-expand, .apex-item-select[size="1"]::-ms-expand { display: none !important; }
  .a-IRR-selectList:focus::-ms-value, .apex-item-select[size="1"]:focus::-ms-value { background: transparent !important; }
  .a-IRR-selectList, .apex-item-select[size="1"] { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAHlBMVEXf39++vr7p6emAgIDh4eHPz89vb2/Z2dlmZmby8vLFd+SnAAAAm0lEQVR42u3WsQ6AIAxFUSuC8v8/bDQmd2CgzUtwKfs9E7Rs57l15SSQQAI+wEwD7LpMAJ4eIQLQI4QA+lIQAgD9viMEAPreESIAPUIEoEeIAfQIfoB+IgBMegQn8PWD4Aba2w9CcwNHpUeoR460BDjCRZKvsvyY5OesDhR1pKlDVR3r6mKRV5u+XNevdwT75YuDYDnSEkhgDXAD/8yIgY19CJcAAAAASUVORK5CYII=); background-size: contain; } }

@media (max-width: 567px) { .t-Dialog .t-Form-inputContainer { display: flex; flex-wrap: wrap; }
  .t-Dialog .apex-item-text, .t-Dialog .apex-item-select { flex-grow: 1; }
  .t-Dialog .apex-item-group { flex-grow: 1; }
  .t-Dialog .apex-item-grid, .t-Dialog fieldset, .t-Dialog textarea, .t-Dialog table, .t-Dialog td.lov, .t-Dialog input.popup_lov { width: 100%; } }

@media only screen and (max-width: 480px) { .container > .row > .col:first-child > .t-Form-fieldContainer--hiddenLabel { margin-top: 8px; } }
