/** Import Compass */
/* ========================================================================== Icon Library Mixin ========================================================================== */
/* ========================================================================== Shadows ========================================================================== */
/* ========================================================================== Hero Region --- Hero Region is used for homepages to introduce / onboard the user. ========================================================================== */
/* Base Styles ========================================================================== */
.t-HeroRegion-wrap { padding: 16px; }

.t-HeroRegion:not(.t-HeroRegion--featured) { position: relative; overflow: hidden; /* Hero Region Wrapper ========================================================================== */ /* Title ========================================================================== */ /* Columns ========================================================================== */ /* Contains Icon */ /* Contains Title + Text */ /* Contains Buttons and Form Items */ /* Icon ========================================================================== */ /* Form Sub Region ========================================================================== */ /* Buttons ========================================================================== */ }

.t-HeroRegion:not(.t-HeroRegion--featured) .t-HeroRegion-wrap { display: flex; flex-direction: row; align-items: center; }

.t-HeroRegion:not(.t-HeroRegion--featured) .t-HeroRegion-title { font-size: 3.2rem; line-height: 4.0rem; margin: 0; }

.t-HeroRegion:not(.t-HeroRegion--featured) .t-HeroRegion-col--left { flex-shrink: 0; }

.t-HeroRegion:not(.t-HeroRegion--featured) .t-HeroRegion-col--content { flex-grow: 1; font-size: 1.6rem; line-height: 2.4rem; }

.t-HeroRegion:not(.t-HeroRegion--featured) .t-HeroRegion-col--content > p { font-size: inherit; line-height: inherit; margin: 0; }

.t-HeroRegion:not(.t-HeroRegion--featured) .t-HeroRegion-col--right { text-align: right; display: flex; flex-direction: row; align-items: center; justify-content: flex-end; }

.t-HeroRegion:not(.t-HeroRegion--featured) .t-HeroRegion-icon { width: 64px; height: 64px; display: block; border-radius: 4px; text-align: center; line-height: 6.4rem; margin-right: 16px; }

.u-RTL .t-HeroRegion:not(.t-HeroRegion--featured) .t-HeroRegion-icon { margin-right: 0; margin-left: 16px; }

.apex-icons-fontawesome .t-HeroRegion:not(.t-HeroRegion--featured) .t-HeroRegion-icon { font-size: 28px; }

.apex-icons-fontapex .t-HeroRegion:not(.t-HeroRegion--featured) .t-HeroRegion-icon { font-size: 32px; }

.t-HeroRegion:not(.t-HeroRegion--featured) .t-HeroRegion-form { margin-left: 16px; }

.u-RTL .t-HeroRegion:not(.t-HeroRegion--featured) .t-HeroRegion-form { margin-right: 16px; margin-left: 0; }

.t-HeroRegion:not(.t-HeroRegion--featured) .t-HeroRegion-buttons { flex-shrink: 0; white-space: nowrap; }

.t-HeroRegion:not(.t-HeroRegion--featured) .t-HeroRegion-buttons:empty { display: none; }

/* Generic Form Sub Region ========================================================================== */

.t-HeroRegion-form .t-Form-labelContainer, .t-HeroRegion-form .t-Form-inputContainer { padding: 0; }

.t-HeroRegion-form .t-Form-searchField[type=text] { width: 100%; max-width: 320px; }

/* ========================================================================== Featured Hero Region ========================================================================== */
.t-Body-contentInner .t-HeroRegion--featured .t-HeroRegion-wrap { padding-left: 0; padding-right: 0; }

.t-HeroRegion--featured .t-HeroRegion-wrap { padding: 16px; }

.t-HeroRegion--featured .t-HeroRegion-wrap:before, .t-HeroRegion--featured .t-HeroRegion-wrap:after { content: " "; display: table; }

.t-HeroRegion--featured .t-HeroRegion-wrap:after { clear: both; }

.t-HeroRegion--featured .t-HeroRegion-col--left, .t-HeroRegion--featured .t-HeroRegion-col--content, .t-HeroRegion--featured .t-HeroRegion-col--right { width: auto; float: none; }

.t-HeroRegion--featured .t-HeroRegion-col--left, .t-HeroRegion--featured .t-HeroRegion-col--right, .t-HeroRegion--featured .t-HeroRegion-title { text-align: center; }

.t-HeroRegion--featured .t-HeroRegion-col--right { display: flex; flex-direction: row; }

.t-HeroRegion--featured .t-HeroRegion-icon { display: inline-block; vertical-align: top; width: 128px; height: 128px; line-height: 128px; text-align: center; }

.apex-icons-fontawesome .t-HeroRegion--featured .t-HeroRegion-icon { font-size: 70px; }

.apex-icons-fontapex .t-HeroRegion--featured .t-HeroRegion-icon { font-size: 80px; }

.t-HeroRegion--featured .t-HeroRegion-form, .t-HeroRegion--featured .t-HeroRegion-buttons { margin-top: 8px; }

.t-HeroRegion--featured .t-HeroRegion-form:empty, .t-HeroRegion--featured .t-HeroRegion-buttons:empty { display: none; }

.t-HeroRegion--featured .t-HeroRegion-col--content { font-size: 24px; line-height: 1.25; }

.t-HeroRegion--featured .t-HeroRegion-col--content p { margin-top: 0px; font-size: inherit; line-height: inherit; }

/* ========================================================================== Featured -- Base ========================================================================== */
.t-HeroRegion--centered .t-HeroRegion-title { border-bottom: 1px solid rgba(0, 0, 0, 0.1); padding-bottom: 1.6rem; }

/* ========================================================================== Modifier: Hide Icons ========================================================================== */
.t-HeroRegion--hideIcon .t-HeroRegion-col--left, .t-HeroRegion--hideIcon .t-HeroRegion-icon { display: none; }

/* ========================================================================== Modifier: Remove Padding ========================================================================== */
.t-HeroRegion--noPadding .t-HeroRegion-wrap { padding: 0; }
@media only screen and (max-width: 640px) { .t-HeroRegion:not(.t-HeroRegion--featured) .t-HeroRegion-wrap { flex-wrap: wrap; } .t-HeroRegion:not(.t-HeroRegion--featured) .t-HeroRegion-col--right { margin-top: 8px; width: 100%; } .t-HeroRegion:not(.t-HeroRegion--featured) .t-HeroRegion-icon { margin-right: 8px; }
  .u-RTL .t-HeroRegion:not(.t-HeroRegion--featured) .t-HeroRegion-icon { margin-right: 0; margin-left: 8px; } .t-HeroRegion:not(.t-HeroRegion--featured) .t-HeroRegion-form { margin-left: 0; }
  .u-RTL .t-HeroRegion:not(.t-HeroRegion--featured) .t-HeroRegion-form { margin-right: 0; } .t-HeroRegion-form { width: 100%; } .t-HeroRegion-form .t-Form-searchField[type=text] { max-width: 100%; } .t-Body-contentInner .t-HeroRegion--featured .t-HeroRegion-wrap { padding: 0; margin-bottom: 8px; } .t-HeroRegion--featured .t-HeroRegion-icon { width: 64px; height: 64px; line-height: 64px; } .apex-icons-fontawesome .t-HeroRegion--featured .t-HeroRegion-icon { font-size: 28px; } .apex-icons-fontapex .t-HeroRegion--featured .t-HeroRegion-icon { font-size: 32px; } .t-HeroRegion--featured .t-HeroRegion-form, .t-HeroRegion--featured .t-HeroRegion-buttons { margin-top: 0; } .t-HeroRegion--featured .t-HeroRegion-col--content { font-size: 14px; } }
@media only screen and (min-width: 641px) and (max-width: 767px) { .t-HeroRegion--featured .t-HeroRegion-icon { width: 96px; height: 96px; line-height: 96px; } .apex-icons-fontawesome .t-HeroRegion--featured .t-HeroRegion-icon { font-size: 42px; } .apex-icons-fontapex .t-HeroRegion--featured .t-HeroRegion-icon { font-size: 48px; } .t-HeroRegion--featured .t-HeroRegion-col--content { font-size: 20px; } }
