/**  Import Compass */
/* ========================================================================== Icon Library Mixin ========================================================================== */
/* ========================================================================== Shadows ========================================================================== */
/* ========================================================================== Icons ========================================================================== */
.t-Alert--defaultIcons .t-Alert-icon .t-Icon, .t-Alert .t-Icon.icon-close:before { font-family: "apex-5-icon-font"; display: inline-block; vertical-align: top; }

.t-Alert--defaultIcons.t-Alert--warning .t-Alert-icon .t-Icon:before, .t-Alert--defaultIcons.t-Alert--yellow .t-Alert-icon .t-Icon:before { content: "\e017"; }

.t-Alert--defaultIcons.t-Alert--success .t-Alert-icon .t-Icon:before { content: "\e007"; }

.t-Alert--defaultIcons.t-Alert--red .t-Alert-icon .t-Icon:before, .t-Alert--defaultIcons.t-Alert--danger .t-Alert-icon .t-Icon:before { content: "\e010"; }

.t-Alert--defaultIcons.t-Alert--info .t-Alert-icon .t-Icon:before { content: "\e023"; }

.t-Alert .t-Icon.icon-close:before { line-height: 16px; font-size: 16px; content: "\e0a2"; }

/* ========================================================================== Icon Fonts ========================================================================== */
.apex-icons-fontawesome .fa { font-family: inherit; font-size: 14px; }

.apex-icons-fontawesome .fa:before { font-family: FontAwesome; vertical-align: top; }

.apex-icons-fontapex .fa { font-family: inherit !important; position: relative; }

.apex-icons-fontapex .fa:before { vertical-align: top; }
