
@import "_variables";
.t-ConfigPanel-about {
  background-color: lighten(#FFCB3D,32%);
  color: #565656;
}
.t-ConfigPanel-icon {
  border-radius: 100%;
  background-color: #A0A0A0;
  color: #FFF;
  &.is-enabled {
    background-color: @g_Success-BG;
  }
  &.is-disabled {
    background-color: @g_Danger-BG;
  }
}
.t-ConfigPanel-setting,.t-ConfigPanel-status {
  color: @g_Region-FG-Light;
}
.t-ConfigPanel-status {
  color: @g_Region-FG;
}
.t-ConfigPanel-attrLink {
  color: @g_Region-FG-Light;
  &:hover {
    background-color: rgba(0,0,0,.05);
  }
}
.t-ConfigPanel-attrLabel {
  // color: @g_Region-FG;
}
.t-ConfigPanel-attrValue {
  color: @g_Link-Base;
}
