
@import "_variables";

.t-SearchResults-desc {
  color: fade(contrast(@g_Body-BG, desaturate(darken(@g_Body-BG,  75%), 100%), desaturate(lighten(@g_Body-BG,  75%), 50%)), 100%);
}
.t-SearchResults-date {
  color: fade(contrast(@g_Body-BG, desaturate(darken(@g_Body-BG,  55%), 100%), desaturate(lighten(@g_Body-BG,  55%), 50%)), 100%);
}
.t-SearchResults-misc {
  color: fade(contrast(@g_Body-BG, desaturate(darken(@g_Body-BG,  55%), 100%), desaturate(lighten(@g_Body-BG,  55%), 50%)), 100%);
}

.t-Region {
  .t-SearchResults-desc {
    color: fade(contrast(@g_Region-BG, desaturate(darken(@g_Region-BG,  75%), 100%), desaturate(lighten(@g_Region-BG,  75%), 50%)), 100%);
  }
  .t-SearchResults-date {
    color: fade(contrast(@g_Region-BG, desaturate(darken(@g_Region-BG,  55%), 100%), desaturate(lighten(@g_Region-BG,  55%), 50%)), 100%);
  }
  .t-SearchResults-misc {
    color: fade(contrast(@g_Region-BG, desaturate(darken(@g_Region-BG,  55%), 100%), desaturate(lighten(@g_Region-BG,  55%), 50%)), 100%);
  }
}



//.t-SearchResults-list {
//  margin: 0;
//  padding: 0;
//  list-style: none;
//}
//.t-SearchResults-item {
//  display: block;
//  margin-bottom: 24px;
//  &:last-child {
//    margin-bottom: 12px;
//  }
//}
//.t-SearchResults-title {
//  font-weight: 500;
//  font-size: 1.6rem;
//  line-height: 2rem;
//  margin: 0;
//}
//.t-SearchResults-info {
//  margin-top: 4px;
//  font-size: 1.4rem;
//  line-height: 2rem;
//}
//.t-SearchResults-desc {
//  margin: 0 0 4px 0;
//}
//.t-SearchResults-date {
//}
//.t-SearchResults-misc {
//  display: block;
//  font-size: 1.2rem;
//  line-height: 1.6rem;
//}
