/* ========================================================================== Image Navigation List ========================================================================== */
.a-ImageNav { list-style: none; margin: 0; padding: 0; width: 100%; display: table; table-layout: fixed; }

.a-ImageNav-item { display: table-cell; width: auto; text-align: center; vertical-align: top; }

.a-ImageNav-link { width: 100%; display: block; text-decoration: none; border: none; padding: 24px 0; background-color: transparent; margin: 0; transition: padding .1s ease-in-out, background-color .1s ease-in-out; }

.a-ImageNav-link:hover { background-color: #F2F6FC; text-decoration: none; }

.a-ImageNav-img { display: inline-block; width: 96px; height: 96px; margin: 0 auto; vertical-align: top; border-radius: 2px; transition: background-size .1s ease-in-out, background-color .1s ease-in-out, width .1s ease-in-out, height .1s ease-in-out; }

.a-ImageNav-label { display: block; margin-top: 8px; font-size: 14px; line-height: 20px; -webkit-font-smoothing: antialiased; }

.u-HCM .a-ImageNav-img { display: none; }

.u-HCM .a-ImageNav-item { padding: 8px; }

.u-HCM .a-ImageNav-link { border: 1px solid !important; width: auto; }

.u-HCM .a-ImageNav-link:focus { outline: 1px dotted !important; }

.u-HCM .a-ImageNav-label { margin: 0; }

.u-HCM button.a-ImageNav-link { display: block; width: 100%; }

@media only screen and (max-height: 600px) { .a-ImageNav-link { padding: 12px 0; } .a-ImageNav-img { width: 72px; height: 72px; } }

@media only screen and (min-width: 1281px) { .a-ImageNav-img { width: 108px; height: 108px; } }
