@import "../vita/_variables";

@g_Accent-BG: #da1b1b;
@g_Link-Base: #2370c2;
@g_Focus: #2370c2;
@g_Nav-BG: #f0f0f0;
@g_Nav-Active-BG: #dadada;
@g_Body-Title-BG: #ffffff;
@g_Nav-FG: #606060;
@g_Color-Palette-1: #dd180a;

div#t_TreeNav {box-shadow: -1px 0 0 rgba(0,0,0,.1) inset;}